<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PERFUME</title>
</head>
<body>
    <h2>ECLAT d`ARPEGE</h2>
    <h2>1.MOTHER 2. GIRLFRIEND 3. FRIEND</h2>
    <h2>122$</h2>
    <img src="https://content2.rozetka.com.ua/goods/images/big_tile/336516375.jpg">
    <h2>CHANEL</h2>
    <h2>The best smell of a loved one in the morning.</h2>
    <h2>145$</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/CHANEL_No5_parfum.jpg" width="20%">
    <h2>LA VIE EST BELLE</h2>
    <h2>Evening meetings under the moon.</h2>
    <h2>200$</h2>
    <img src="https://pwa-api.eva.ua/img/512/512/resize/5/0/505655_1_1702317629.jpg">
</body>
</html>